@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   @*  <h1 class="display-4">Welcome To EGStore</h1>

    <!-- Add the Image for your eCommerce store -->
    <img src="" alt="EGStore Banner" class="img-fluid my-4" style="max-height: 400px;">

    @if (User.Identity.IsAuthenticated)
    {
        <a asp-area="Customer" asp-action="Display" asp-controller="Home" class="btn btn-primary btn-lg">To Shop</a>
    } *@
</div>
@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Store</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-area="Customer" asp-action="Display" asp-controller="Home" class="btn btn-primary btn-lg">To Shop</a>
    }
</div> *@
@* <div class="image-container text-center">
    <img src="#" asp-append-version="true" class="responsive-image" alt="Welcome Image">
</div> *@
